* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid red;  */
    font-family: sans-serif;
    text-align: center;
    color: #EEEEEE;
}

/* style index.html */

h1 {
    font-size: 64px;
    margin: 20PX;
    color: #1F6F5F;
}

.cart {
    display: grid;
    place-items: center;

    gap: 10px;
    padding: 10px;
    border: 2px solid #1F6F5F;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;

    list-style: none;
}

.link-recipes {
    color: #1F6F5F;
    text-decoration: none;

}

/* style recipe pages*/

div {

    /* display: grip;
    place-items: center; */

    padding: 10px;
    border: 2px solid #1F6F5F;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;

}

.title {
    color: #1F6F5F;
    margin-top: 8px;
}

.str {
    color: #6FCF97;
    background-color: #1F6F5F;
    border: 1px solid #1F6F5F;
    border-radius: 3px;
}

li {
    list-style: none;
}

.list-step {
    list-style: decimal;
    list-style-position: inside;
  
}
.list-step::marker {
    color: #1F6F5F;
    font-weight: bold;
}

.home-b {
    display: inline-block;
    margin-top: 12px;
    padding: 0 16px;
    color: #6FCF97;
    background-color: #1F6F5F;
    border: 1px solid #1F6F5F;
    border-radius: 3px;
    text-decoration: none;

}
.home-b:hover {
        background-color: #0a3b30;
}